@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    width: 300px;
    height: 500px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    border: 2px black solid;
    border-radius: 5px;
}
span{
    font-size: 100px;
    padding: 10px;
    color: green;
}
.btn{
    background: none;
    outline: none;
    border: 1px solid black;
    padding: 6px;
    border-radius: 10px;
    margin: 5px;
}